*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: gold;
}
header .container{
    width: 1265px;
    margin: 0 auto;
    padding: 10px;
}
ul{
        list-style: none;
    }
#logo img{
    width: 180px;
    height: auto;
}
#headernav{
    display: flex;
    justify-content: space-between;
}
#menu ul li{
    display: inline;
}